@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Poppins:wght@100;400;700&display=swap');
.header-container{
    background-color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.contnr-app-name{
    font-size: 25px;
    font-family: poppins;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.ul-contnr-hedr-menu ul{
    display: flex;
}

.ul-contnr-hedr-menu ul li{
    list-style: none;
    margin: 0px 20px 0px 0px;
    padding: 3px 8px 3px 8px;
}

.ul-contnr-hedr-menu ul li:hover{
    list-style: none;
    background-color: rgb(192, 226, 226);
    border-radius: 3px;
    cursor: pointer;
}