@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Poppins:wght@100;400;700&display=swap');
.header-container{
    background-color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 40px 10px 40px;
}

.contnr-app-name{
    font-size: 25px;
    font-family: poppins;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.ul-contnr-hedr-menu ul{
    display: flex;
}

.ul-contnr-hedr-menu ul li{
    list-style: none;
    margin: 0px 15px 0px 0px;
    padding: 3px 8px 3px 8px;
}

.ul-contnr-hedr-menu ul li:hover{
    list-style: none;
    background-color: rgb(192, 226, 226);
    border-radius: 3px;
    cursor: pointer;
}

.ul-contnr-hedr-menu ul li:last-child{
    list-style: none;
    background-color: rgb(20, 21, 21);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 12px 3px 12px;
    border: 1px solid black;
}


.ul-contnr-hedr-menu ul li:last-child:hover{
    list-style: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 12px 3px 12px;
    border: 1px solid black;

}

.navLink-login-btn{
    color: white;
    text-decoration: none;
}

.navLink-login-btn:hover{
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.user-initial-div-text-container-header{
    background-color: rgb(0, 0, 0);
    padding: 3px 10px 3px 20px;
    color: rgb(202, 198, 198);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: auto;
}

.online-dot-header{
    background-color: rgb(61, 236, 66);
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
}

.offline-dot-header{
    background-color: rgb(236, 61, 61);
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
}