.signup-conponent-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.signup-form-container form{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.252);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.signup-text-heading{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.signup-form-container form input{
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid rgba(128, 128, 128, 0.157);
    border-radius: 5px; 
    width: 190px;
    padding: 5px;
    outline: none;
}

.signup-form-container form input:focus{
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid rgba(45, 103, 210, 0.308);
    border-radius: 5px; 
    width: 190px;
    padding: 5px;
}


.signup-form-btn-container{
    /* background-color: aqua; */
    margin-top: 20px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-pass-txt-container{
    margin-top: 3px;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.signup-form-btn-container button{
    width: 200px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0);
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(61, 43, 226);
    color: white;
    text-decoration: none;
}

.signup-form-btn-container button:hover{
    width: 200px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0);
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(35, 15, 223);
    color: white;
}

.have-an-account-option-container{
    background-color: rgb(212, 248, 235);
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px dashed grey;
}

.have-an-account-text-n-btn-container{
    /* background-color: aqua; */
    font-size: 14px;
}

.have-an-account-text-n-btn-container button{
    background-color: rgba(0, 255, 255, 0);
    font-size: 14px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}


/* logic for password match */
.pass-didnt-match{
    background-color: rgba(245, 186, 179, 0.737);
}